[submodule "tools/external/.tmux"]
	path = tools/external/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "tools/external/tmux"]
	path = tools/external/tmux
	url = https://github.com/tmux/tmux.git
[submodule "tools/external/claude-official-skills"]
	path = tools/external/claude-official-skills
	url = https://github.com/anthropics/skills.git
[submodule "tools/external/Skill_Seekers-development"]
	path = tools/external/Skill_Seekers-development
	url = https://github.com/yusufkaraaslan/Skill_Seekers.git
