{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "htmlWhitespaceSensitivity": "ignore",
        "vueIndentScriptAndStyle": false
      }
    }
  ]
}
